In [1]:
import requests
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

1. Make an API request that returns the months where "fire" was searched in 2016. Which month had the most searches?

In [2]:
endpoint1 = 'https://data.nashville.gov/resource/fuaa-r5cm.json?$query=SELECT%20%60month_name%60%2C%20%60month%60%2C%20%60year%60%2C%20%60query_count%60%2C%20%60query_text%60%0AWHERE%20caseless_eq(%60query_text%60%2C%20%22fire%22)%20AND%20(%60year%60%20%3D%202016)'

response1 = requests.get(endpoint1)
response1

In [3]:
res1 = response1.json()
firedf = pd.DataFrame(res1)
firedf['query_count'] = firedf['query_count'].astype(int)
firedf = firedf.rename(columns={'query_count': 'count', 'month_name': 'month', 'query_text': 'text'})
firedf = firedf.sort_values(by='count', ascending=False)
firedf = firedf.reset_index(drop=True)
print(firedf.head(1))

    month  year  count  text
0  August  2016     47  fire

2. Make an API request that returns all the times a query was run more than 100 times in a month. How many times did this occur?

In [4]:
endpoint2 = 'https://data.nashville.gov/resource/fuaa-r5cm.json?$where=query_count>=100&$limit=500000'
response2 = requests.get(endpoint2)
response2

In [5]:
res2 = response2.json()
res100 = pd.DataFrame(res2)
res100['query_count'] = res100['query_count'].astype(int)
res100 = res100.rename(columns={'month_name': 'month', 'query_text': 'text', 'query_count': 'count', 'month':'month1'})
res100 = res100.drop(columns = ['month1'])
res100 = res100.sort_values(by=['year', 'count'], ascending=[False, False])
res100 = res100.reset_index(drop=True)
res100

        month  year  count                    text
0     January  2021    543           covid vaccine
1     January  2021    531                 payroll
2     January  2021    334                 Vaccine
3        July  2021    326                 Payroll
4     January  2021    319  Christmas Tree-cycling
...       ...   ...    ...                     ...
1282    April  2014    102                  police
1283     July  2014    102          media releases
1284   August  2014    102              employment
1285    March  2014    101                 permits
1286  October  2014    100                    maps

[1287 rows x 4 columns]

In [6]:
res100_total_count = res100['count'].count()
res100_total_count
print(f"The number times a query was run more than 100 times in a month: {res100_total_count}")

The number times a query was run more than 100 times in a month: 1287

3. Make another API request that returns all the times "codes" was searched more than 100 times in a month. How many times did this occur?

In [7]:
endpoint3 = 'https://data.nashville.gov/resource/fuaa-r5cm.json?$query=SELECT%20%60month_name%60%2C%20%60month%60%2C%20%60year%60%2C%20%60query_count%60%2C%20%60query_text%60%0AWHERE%20(%60query_count%60%20%3E%20100)%20AND%20caseless_eq(%60query_text%60%2C%20%22codes%22)'
response3 = requests.get(endpoint3)
response3

In [8]:
res3 = response3.json()
codes = pd.DataFrame(res3)
codes = codes.rename(columns={'month_name': 'month', 'query_text': 'text', 'query_count': 'count', 'month':'month1'})
codes = codes.drop(columns = ['month1'])
codes = codes.sort_values(by=['year', 'count'], ascending=[False, False])
codes

        month  year count   text
48    January  2021   191  codes
22       June  2021   138  codes
20      March  2021   134  codes
17   February  2021   131  codes
9         May  2021   115  codes
7        July  2021   114  codes
1       April  2021   102  codes
53       June  2020   208  codes
45        May  2020   184  codes
44      April  2020   183  Codes
42   February  2020   181  codes
41     August  2020   178  codes
33   December  2020   165  codes
31      March  2020   164  codes
32       July  2020   164  codes
30    January  2020   161  codes
23    October  2020   139  codes
16  September  2020   130  codes
3    November  2020   104  codes
40        May  2019   174  Codes
36      April  2019   168  codes
29       July  2019   161  codes
28    October  2019   159  codes
26     August  2019   156  codes
24   December  2019   143  codes
19   November  2019   134  codes
18      March  2019   133  codes
15    January  2019   129  codes
14  September  2019   126  codes
13       June  2019   125  codes
12   February  2019   124  codes
56     August  2018   225  codes
51       June  2018   204  codes
50   November  2018   201  codes
46      March  2018   185  codes
43        May  2018   183  codes
39    October  2018   174  codes
38  September  2018   171  codes
37      April  2018   170  codes
34       July  2018   166  codes
57        May  2017   269  codes
55     August  2017   222  codes
54       July  2017   215  codes
52    October  2017   206  codes
49       June  2017   192  codes
47      April  2017   190  codes
35  September  2017   168  codes
27      March  2017   158  codes
25   February  2017   150  codes
21   November  2017   138  codes
8     January  2017   115  codes
4    December  2017   106  codes
11   February  2016   121  codes
6       April  2016   111  codes
5         May  2016   107  codes
2      August  2016   104  codes
10     August  2015   117  codes
0   September  2015   101  codes

In [9]:
total_code_searches = codes['count'].count()
total_code_searches
print(f"The number times codes was searched over 100 times in a month: {total_code_searches}")

The number times codes was searched over 100 times in a month: 58

4. Make an API request that returns the entire Top 500 Monthly Searches dataset. Make a chart that shows the number of times "maps" was searched in a month across the entire time frame.

In [10]:
endpoint4 = 'https://data.nashville.gov/resource/fuaa-r5cm.json?$limit=500000'
#https://data.nashville.gov/resource/fuaa-r5cm.json?$where=query_count>=100

response4 = requests.get(endpoint4)
response4

In [12]:
res4 = response4.json()
all_data = pd.DataFrame(res4)
all_data

      month_name  year query_count         query_text month
0        January  2014         223               ebid   NaN
1        January  2014         112      property maps   NaN
2        January  2014          97               maps   NaN
3        January  2014          90       property tax   NaN
4        January  2014          76               jobs   NaN
...          ...   ...         ...                ...   ...
43672       July  2021           8     sign ordinance     7
43673       July  2021           8               snap     7
43674       July  2021           8     small business     7
43675       July  2021           8   water department     7
43676       July  2021           8  value of property     7

[43677 rows x 5 columns]

In [14]:
map_data = all_data.loc[all_data['query_text'] == 'maps']
map_data

      month_name  year query_count query_text month
2        January  2014          97       maps   NaN
503     February  2014         140       maps   NaN
1005       March  2014         144       maps   NaN
1503       April  2014         152       maps   NaN
2003         May  2014         119       maps   NaN
...          ...   ...         ...        ...   ...
39196   November  2020          86       maps    11
39688   December  2020         113       maps    12
41188      March  2021         132       maps     3
41683      April  2021         148       maps     4
42682       June  2021         151       maps     6

[82 rows x 5 columns]